.grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    left: 0px !important;
    bottom: 20px !important;

    &:hover {
        width: 256px !important;
    }
}
